.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
}

button {
  margin-top: 20px;
  cursor: pointer;
}


div.has-danger input {
  border-color: red;
}

div.has-success input {
  border-color: green;
}

input {
  border: 1px solid #D1CDC9;
}