<main>
    <div class="container index">
        <div class="s10">
            <div class="s10link">
                <div class="s10img">
                    <img src="../img/01.png">
                </div>
            </div>
        </div>
        <div class="s11">
            <div class="s11link">
                <div class="s11img">
                    <img alt="" src="../img/02.png">
                </div>
            </div>
        </div>
        <div class="pay">
            <a [routerLink]="['shop']" role="button">купить</a>
        </div>
        <div class="s13">
            <h4>​Натуральный сок</h4>
            <h4>из свежих апельсинов,</h4>
            <h4>лимонов и грейпфрутов.</h4>
            <h4>Никаких добавок!</h4>
        </div>
        <div class="s12">
            <div class="s12bg"></div>
            <div class="s12inlineContent">
                <div class="s14">
                    <h3><a class="color_16" href="#">Эко Сок</a></h3>
                </div>
            </div>
        </div>
    </div>
</main>