<main>
    <div class="container">
        <h2>Ответы на популярные вопросы</h2>
        <h6>Как заказать?</h6>
        <p>Это текст. Нажмите здесь, чтобы отредактировать его и добавить свой текст. Сделать это просто: нажмите «Редактировать текст» либо дважды нажмите на сам текст – и можете вставлять свое содержимое и задавать шрифт. Это место отлично подходит, чтобы немного рассказать пользователям о себе. Чтобы удалить этот текст, просто выберите его и нажмите иконку «Удалить».</p>
        <h6>Есть доставка?</h6>
        <p>Это текст. Нажмите здесь, чтобы отредактировать его и добавить свой текст. Сделать это просто: нажмите «Редактировать текст» либо дважды нажмите на сам текст – и можете вставлять свое содержимое и задавать шрифт. Это место отлично подходит, чтобы немного рассказать пользователям о себе. Чтобы удалить этот текст, просто выберите его и нажмите иконку «Удалить».</p>
        <h6>Это безопасно?</h6>
        <p>Это текст. Нажмите здесь, чтобы отредактировать его и добавить свой текст. Сделать это просто: нажмите «Редактировать текст» либо дважды нажмите на сам текст – и можете вставлять свое содержимое и задавать шрифт. Это место отлично подходит, чтобы немного рассказать пользователям о себе. Чтобы удалить этот текст, просто выберите его и нажмите иконку «Удалить».</p>
        <h6>Как вернуть товар и деньги?</h6>
        <p>Это текст. Нажмите здесь, чтобы отредактировать его и добавить свой текст. Сделать это просто: нажмите «Редактировать текст» либо дважды нажмите на сам текст – и можете вставлять свое содержимое и задавать шрифт. Это место отлично подходит, чтобы немного рассказать пользователям о себе. Чтобы удалить этот текст, просто выберите его и нажмите иконку «Удалить».</p>
    </div>
</main>