<main>
    <div class="container">
        <my-breadcrumbs></my-breadcrumbs>
        <div class="row">
            <div class="col-sm-7">
                <div class="product-gallery">
                    <div class="product-media-container"  >
                        <img class="media" alt="Ваш товар" src="{{shopProduct.img1}}" #img0>
                    </div>
                    <div class="thumbnails">
                        <img class="thumbnails-media thumbnails-media-left" [ngClass]="{'active':bool}" alt="Ваш товар" (click)="toggleImg(img1, img0)" src="{{shopProduct.img1}}" #img1>
                        <img class="thumbnails-media thumbnails-media-right" [ngClass]="{'active':!bool}" alt="Ваш товар" (click)="toggleImg(img2, img0)" src="{{shopProduct.img2}}" #img2>
                    </div>
                    <p>{{shopProduct.shortDescription}}</p>
                </div>
            </div>
            <div class="col-sm-5">
            <header class="header-info">
                <h2>{{shopProduct.name}}</h2>
                <div class="label">Артикул: {{shopProduct.vendorCode}}</div>
                <div class="product-prices">${{shopProduct.price}}</div>
            </header>
            <form class="product-form" (ngSubmit)="onSubmit()" #productForm="ngForm">
                <div ngModelGroup="userData">
                    <label>Количество</label>
                    <select name="quantity"  [ngModel]="1" >
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>

                    <button type="submit" >ДОБАВИТЬ В КОРЗИНУ</button>
                </div>
            </form>
            <ul class="info-sections">
                <li class="info-section active">
                    <h3 (click)="toggle(productInfo, addSignInfo)">О ТОВАРЕ <span #addSignInfo>+</span></h3>
                    <p  style="display: none" #productInfo>{{shopProduct.description}}</p>
                </li>
                <li class="info-section active">
                    <h3 (click)="toggle(returnPolicy, addSignPolicy)">ПОЛИТИКА ВОЗВРАТА  <span #addSignPolicy>+</span></h3>
                    <p style="display: none" #returnPolicy>Это правила и условия возврата товара или денег. Расскажите посетителям, что нужно сделать, если они захотят вернуть товар или получить назад свои деньги. Четкая и ясная политика возврата — это хороший способ построить доверительные отношения с клиентами.</p>
                </li>
            </ul>
            <ul class="social-networks">
                <li class="icon">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </li>
                <li class="icon">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </li>
                <li class="icon">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </li>
                <li class="icon">
                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </li>
            </ul>
        </div>
        </div>
    </div>
</main>

