<div class="opacity" (click)="hidePopup()"></div>
<div class="minicart active"  >
    <header>
        <i class="fa fa-angle-right" (click)="hidePopup()" aria-hidden="true"></i>Корзина
    </header>
    <section class="under-header" hidden>
        <span >Корзина пуста </span>
    </section>
    <section  class="cart-content">
        <ul *ngFor="let shopProduct of shopProducts; let i = index" >
            <li>
                <a href="product-1.html">
                    <img class="product-media" alt="Ваш товар" src="{{shopProduct.img1}}">
                </a>
                <div class="item-info">
                    <div class="item-name">Ваш товар</div>
                    <div class="item-quantity">
                        КОЛИЧЕСТВО:
                        <span>{{shopProduct.sumProd}}</span>
                    </div>
                    <div class="item-price">
                        {{shopProduct.price}}
                    </div>
                    <i class="fa fa-times-circle-o" (click)="deleteItem(shopProduct.idprod, i)" aria-hidden="true"></i>
                </div>
            </li>
        </ul>
    </section>
    <div class="above-footer">
        Сумма
        <div>${{sum}}</div>
    </div>
    <footer>
        <a role="button" [routerLink]="['../cart']" (click)="hidePopup()">ПЕРЕЙТИ В КОРЗИНУ</a>
    </footer>
</div>