<main>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="h2 title  header">
                    <span  class="user-free-text">Моя корзина</span>
                    <span class="items-count">(9)</span>
                </h1>
            </div>
            <div class="col-sm-5">
                <button >ОФОРМИТЬ&nbsp;ЗАКАЗ</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">ТОВАР</div>
             <div class="col-sm-4">НАИМЕНОВАНИЕ</div>
            <div class="col-sm-2">КОЛИЧЕСТВО</div>
            <div class="col-sm-2">ИТОГО</div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a><img src="img/pr-2-3.jpg"></a>
            </div>
            <div class="col-sm-4">
                <p>Ваш товар</p>
                <p>Артикул: 0006</p>
                <p>Цена: $19.99</p>
            </div>
            <div class="col-sm-2">3</div>
            <div class="col-sm-2">$59.97</div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a><img src="img/pr-2-3.jpg"></a>
            </div>
            <div class="col-sm-4">
                <p>Ваш товар</p>
                <p>Артикул: 0006</p>
                <p>Цена: $19.99</p>
            </div>
            <div class="col-sm-2">3</div>
            <div class="col-sm-2">$59.97</div>
        </div>
    </div>
</main>
