<main class="cart-component">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h1 class="h2 title  header">
                    <span  class="user-free-text">Моя корзина</span>
                    <span class="items-count">({{allItem}})</span>
                </h1>
            </div>
            <div class="col-sm-3">
                <button (click)="order()">ОФОРМИТЬ&nbsp;ЗАКАЗ</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">ТОВАР</div>
             <div class="col-sm-4">НАИМЕНОВАНИЕ</div>
            <div class="col-sm-3 quant">КОЛИЧЕСТВО</div>
            <div class="col-sm-2 sum">ИТОГО</div>
        </div>
        <div  *ngFor="let shopProduct of shopProducts; let i = index" class="row shop-products">
            <div class="col-sm-3">
                <a><img src="{{shopProduct.img1}}"></a>
            </div>
            <div class="col-sm-4 product-info">
                <h3>{{shopProduct.name}}</h3>
                <p>{{shopProduct.vendorCode}}</p>
                <p>{{shopProduct.price}}</p>
                <p class="delete"><a (click)="deleteItem(shopProduct.idprod-1, i)">Delete this product</a></p>
            </div>
            <div class="col-sm-3 a-m-products"><a class="add-product" (click)="add(shopProduct.idprod-1)">+</a><span class="input-sum">{{shopProduct.sumProd}}</span> <a class="add-product" (click)="reduce(shopProduct.idprod-1)">-</a></div>
            <div class="col-sm-2 sum sum-number">{{shopProduct.sumPrise}}</div>
        </div>
        <div class="amount">Сумма: ${{sum}}</div>
    </div>
</main>
<div  [@showPopupTrigger]="popup ? 'shown':'hidden'" *ngIf="popup" >
    <div class="cart-popup">
        <p>Авторизуйтесь и зарегистрируйтесь!</p>
        <button (click)="hidePopup()">Ok</button>
    </div>
</div>
<div  [@showPopupTrigger]="orderPopup ? 'shown':'hidden'" *ngIf="orderPopup" >
    <div class="cart-popup">
        <p>Ваш заказ принят!</p>
        <button (click)="hidePopup()">Ok</button>
    </div>
</div>
