<main>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="h2 title  header">
                    <span  class="user-free-text">Моя корзина</span>
                    <span class="items-count">({{allItem}})</span>
                </h1>
            </div>
            <div class="col-sm-5">
                <button >ОФОРМИТЬ&nbsp;ЗАКАЗ</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">ТОВАР</div>
             <div class="col-sm-4">НАИМЕНОВАНИЕ</div>
            <div class="col-sm-2">КОЛИЧЕСТВО</div>
            <div class="col-sm-2">ИТОГО</div>
        </div>
        <div  *ngFor="let shopProduct of shopProducts; let i = index" class="row">
            <div class="col-sm-3">
                <a><img src="{{shopProduct.source1Prod}}"></a>
            </div>
            <div class="col-sm-4">
                <p>{{shopProduct.nameProd}}</p>
                <p>Артикул: 0006</p>
                <p>{{shopProduct.priseProd}}</p>
            </div>
            <div class="col-sm-2"><a (click)="add(shopProduct.id)">+</a>{{shopProduct.sumProd}} <a (click)="reduce(shopProduct.id)">-</a></div>
            <div class="col-sm-2">{{shopProduct.sumPrise}}</div>
            <a (click)="deleteItem(shopProduct.id, i)">Delete this product</a>
        </div>
        <div>Сумма: ${{sum}}</div>
    </div>
</main>
