      <div *ngFor="let shopProductE of shopProducts;" class="col-sm-3" >
        <shop-item [shopProduct]="shopProductE" ></shop-item>

        </div><!--
    <div class="col-sm-3" *ngFor="let shopProduct of shopProducts">

    </div><!--
            <!--&ndash;&gt;<div class="col-sm-3">-->
        <!--<div class="product-media">-->
            <!--<a href="#">-->
                <!--<div class="ng-pristine ng-untouched ng-valid ng-not-empty">-->
                    <!--<img class="media-item active crop" alt="Ваш товар" src="img/pr-3-1.jpg">-->
                    <!--<img class="media-item crop" alt="Ваш товар" src="img/pr-3-3.jpg">-->
                <!--</div>-->
                <!--<span class="ribbon">Скидка 25%</span>-->
            <!--</a>-->
            <!--<div class="ng-pristine ng-untouched ng-valid ng-not-empty">-->
                <!--<div class="overlay">-->
                    <!--<a class="action quickview" href="#">БЫСТРЫЙ ПРОСМОТР</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="product-details" href="#">-->
            <!--<div class="product-details-content-wrapper">-->
                <!--<div class="ng-pristine ng-untouched ng-valid ng-not-empty">-->
                    <!--<h3 class="title product-title">-->
                        <!--<a>Ваш товар</a>-->
                    <!--</h3>-->
                <!--</div>-->
                <!--<div class="ng-pristine ng-untouched ng-valid ng-not-empty">-->
                    <!--<div data-hook="price-wrapper">-->
                        <!--<span class="price is-price-compare">$19.99</span>-->
                        <!--<span class="price">$14.99</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>&lt;!&ndash;-->
            <!--&ndash;&gt;<div class="col-sm-3">-->
        <!--<div class="product-media">-->
            <!--<a href="#">-->
                <!--<div class="ng-pristine ng-untouched ng-valid ng-not-empty">-->
                    <!--<img class="media-item active crop" alt="Ваш товар" src="img/pr-4-3.jpg">-->
                <!--</div>-->
            <!--</a>-->
            <!--<div class="ng-pristine ng-untouched ng-valid ng-not-empty">-->
                <!--<div class="overlay">-->
                    <!--<a class="action quickview" href="#">БЫСТРЫЙ ПРОСМОТР</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="product-details" href="#">-->
            <!--<div class="product-details-content-wrapper">-->
                <!--<div class="ng-pristine ng-untouched ng-valid ng-not-empty">-->
                    <!--<h3 class="title product-title">-->
                        <!--<a>Ваш товар</a>-->
                    <!--</h3>-->
                <!--</div>-->
                <!--<div class="ng-pristine ng-untouched ng-valid ng-not-empty">-->
                    <!--<div data-hook="price-wrapper">-->
                        <!--<span class="price">$19.99</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>&lt;!&ndash;-->
            <!--&ndash;&gt;<div class="col-sm-3">-->
        <!--<div class="product-media">-->
            <!--<a href="#">-->
                <!--<div class="ng-pristine ng-untouched ng-valid ng-not-empty">-->
                    <!--<img class="media-item active crop" alt="Ваш товар" src="img/pr-5-3.jpg">-->
                <!--</div>-->
            <!--</a>-->
            <!--<div class="ng-pristine ng-untouched ng-valid ng-not-empty">-->
                        <!--<span class="ribbon">-->
                            <!--Новинка-->
                        <!--</span>-->
                <!--<div class="overlay">-->
                    <!--<a class="action quickview" href="#">БЫСТРЫЙ ПРОСМОТР</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="product-details" href="#">-->
            <!--<div class="product-details-content-wrapper">-->
                <!--<div class="ng-pristine ng-untouched ng-valid ng-not-empty">-->
                    <!--<h3 class="title product-title">-->
                        <!--<a>Ваш товар</a>-->
                    <!--</h3>-->
                <!--</div>-->
                <!--<div class="ng-pristine ng-untouched ng-valid ng-not-empty">-->
                    <!--<div data-hook="price-wrapper">-->
                        <!--<span class="price">$19.99</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>&lt;!&ndash;-->
            <!--&ndash;&gt;<div class="col-sm-3">-->
        <!--<div class="product-media">-->
            <!--<a href="#">-->
                <!--<div class="ng-pristine ng-untouched ng-valid ng-not-empty">-->
                    <!--<img class="media-item active crop" alt="Ваш товар" src="img/pr-6-3.jpg">-->
                <!--</div>-->
            <!--</a>-->
            <!--<div class="ng-pristine ng-untouched ng-valid ng-not-empty">-->
                <!--<div class="overlay">-->
                    <!--<a class="action quickview" href="#">БЫСТРЫЙ ПРОСМОТР</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="product-details" href="#">-->
            <!--<div class="product-details-content-wrapper">-->
                <!--<div class="ng-pristine ng-untouched ng-valid ng-not-empty">-->
                    <!--<h3 class="title product-title">-->
                        <!--<a>Ваш товар</a>-->
                    <!--</h3>-->
                <!--</div>-->
                <!--<div class="ng-pristine ng-untouched ng-valid ng-not-empty">-->
                    <!--<div data-hook="price-wrapper">-->
                        <!--<span class="price">$19.99</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
